@model Department

<h2>Add Department</h2>

<form asp-action="AddDepartment" method="post">
    <div class="form-group">
        <label asp-for="name" class="control-label"></label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="location" class="control-label"></label>
        <input asp-for="location" class="form-control" />
        <span asp-validation-for="location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>