
@{
    Layout = null;
}

<!-- Trong View của bạn -->
@model List<Department>

@foreach (var department in Model)
{
        <div>
            <h3>@department.department_name</h3>
                        <form method="delete" action="@Url.Action("DeleteDepartment", "Department", new { departmentId = department.department_id })">
            @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger" onclick="return confirm('Bạn có chắc muốn xóa phòng ban này không?')">Xóa</button>
            </form>
        </div>
}
